<div class="modal fade" id="fsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="VideoPlayerController">
    <div class="modal-dialog big-screen" ng-init="init()">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-title"><h4><span class="sub-heading">{{selectedVideo.title}}</span></h4></div>
            </div>
            <div class="modal-body">
                <video id="videoPlayer" class="video-player video-player-model" controls="" autoplay="" name="mediaPlayer"><source src="" type="video/mp4"></video>
            </div>             
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->